.footer {
	color: #fff;
	background-color: #5E9DA6;
	padding: 40px 50px;
}

.footer .container a {
	color: #fff;
	font-family: 'Rubik', 'Arial', sans-serif;
	font-weight: 400;
	padding: 0 20px 0 0;
}

.footer .container a:hover {
	font-family: 'Rubik', 'Arial', sans-serif;
	color: #fff;
}
