body {
	margin: 0;
	font-size: 18px;
}

.header {
	background: url("/img/header.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	border-bottom: 2px solid grey;
}

.header-menu {
	text-align: right;
	height: 100%;
}

.header-menu-list {
	position: absolute;
	z-index: 100;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0 0 0 0;
	list-style-type: none;
	height: 100%;
	width: 0;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	background-color: #5E9EA7;
}

.header-menu-list.display {
	display: block;
	text-align: right;
	width: 100%;
}
.header-menu-list li {
	text-align: right;
}

.header-menu-list a {
	font-family: 'Rubik', 'Arial', sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	transition: all 0.6s ease-in-out;
	padding: 10px 10px 10px 0;
}

.header-menu-list.display a {
	color: #fff;
}
.toggle-menu-button {
	transition: all 0.6s ease-in-out;
	z-index: 120;
	position: absolute;
	cursor: pointer;
	right: 0;
}
.toggle-menu-button.active {
	color: #fff;
}

.toggle-menu-button i{
	color: #fff;
	padding: 20px;
}