@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.episode-header{
    background: url('img/logo.png');
    background-size: cover;
    background-position: center center;
}
#header {
    background: url('img/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 200px;
    transition: all 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
#header a {
    transition: all 0.2s;
}

.audiojs .time , .audiojs .play-pause{
    border: 0px solid black;
}

.audiojs {
    background: #505A6D;
    width: 100%;
}

.audiojs .scrubber {
    background: #505A6D;
    border: 0px solid #000;
}

.audiojs .scrubber .loaded {
    background: rgba(255,255,255,0.4);
}

.audiojs .scrubber .progress {
    background: #CBD5E0;
}
.episode-bg-overlay {
    background: rgba(40,40,40,0.35);
}

.active-episode {
    font-weight: 600;
}