@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.episode-header{
    background: url('img/logo.png');
    background-size: cover;
    background-position: center center;
}
#header {
    background: url('img/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 200px;
    transition: all 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
#header a {
    transition: all 0.2s;
}

.audiojs .time , .audiojs .play-pause{
    border: 0px solid black;
}

.audiojs {
    background: #2F855A;
    width: 100%;
}

.audiojs .scrubber {
    background: #2F855A;
    border: 0px solid #000;
}

.audiojs .scrubber .loaded {
    background: rgba(255,255,255,0.4);
}

.audiojs .scrubber .progress {
    background: #fff;
}
.episode-bg-overlay {
    background: rgba(47, 133, 90, 0.3);
}
.header-bg-overlay {
    background: rgba(47, 133, 90, 0.1);
}

.active-episode {
    font-weight: 600;
    color: #2F855A;
}

.shadow-primary {
    box-shadow: 0 3px 5px 0 rgba(47, 133, 90, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}