@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.content-container {
    max-width: 970px;
}

.episode-header{
    background: url('img/logo.png');
    background-size: cover;
    background-position: center center;
}
#header {
    background: url('img/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 200px;
    transition: all 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
#header a {
    transition: all 0.2s;
}

.audiojs .time , .audiojs .play-pause{
    border: 0px solid black;
}

.audiojs {
    background: rgba(47, 133, 90, 0.4);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.audiojs .scrubber {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: 0px solid #000;
    width: 100%;
}

.audiojs .scrubber .loaded {
    height: 2px;
    background: rgba(255,255,255,0.4);
    top: 6px;
}

.audiojs .scrubber .progress {
    top: 6px;
    background: #fff;
    height: 2px;
}

.episode-bg-overlay {
    background: rgba(47, 133, 90, 0.4);
}
.header-bg-overlay {
    background: rgba(47, 133, 90, 0.1);
}

.active-episode {
    font-weight: 600;
    color: #2F855A;
}

.shadow-primary {
    box-shadow: 0 0 10px 0 rgba(47, 133, 90, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.audiojs .time {
    color: #fff;
    font-size: 16px;
    font-family: 'SFMono-Regular', 'Menlo';
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.audiojs .play-pause {
    width: 45px;
}

.audiojs .play {
    background-image: url('img/play.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
}
.audiojs .pause {
    background-image: url('img/pause.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
}