body {
	font-family: 'Rubik', 'Arial', sans-serif;
}
h1 {
	padding: 0;
	margin: 0;
	font-size: 46px;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
h2	{
	padding: 0;
	margin: 0;
	font-size: 32px;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
h3	{
	padding: 0;
	margin: 0;
	font-size: 26px;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
h4	{
	padding: 0;
	margin: 0;
	font-size: 22px; 
	font-family: 'Rubik', 'Arial', sans-serif;
	font-weight: 400;
}
h5	{
	padding: 0;
	margin: 0;
	font-size: 20px; 
	font-family: 'Rubik', 'Arial', sans-serif;
	font-weight: 600;
}
h6	{
	padding: 0;
	margin: 0;
	font-size: 20px; 
	font-family: 'Rubik', 'Arial', sans-serif;
	font-weight: 600;
}
a {
	cursor: pointer;
	text-decoration: none;
}
.text-xl {
	font-size: 32px;
}
.text-xxl {
	font-size: 72px;
}
.content a   {
	font-family: 'Crimson Text', serif;
	font-weight: 600;
}

.text-white {
	color: #fff;
	text-shadow: 2px 2px 5px #1D3553;
}