		<title>Bananarama Fantasy Football | Home</title>
		<link rel="stylesheet" type="text/css" href="../resources/css/variables.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/animations.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/header.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/random.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/images.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/typo.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/layout.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/footer.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/blog.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/content-block.css">
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Rubik:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	</head>
	<body>
		<div class="headerBg" id="headerBg">
		</div>
		<a id="toggle-menu-button" class="toggle-menu-button text-white"><span class="text-xl"></span> <i id="menu-icon" class="fas fa-football-ball fa-2x"></i></a>
		<ul class="header-menu-list" id="header-menu-list">
			<li class="padding-top-100"><a href="index">Home</a></li>
			<li><a href="pages/classic">Classic</a></li>
			<li><a href="pages/dynasty">Dynasty</a></li>
			<li><a href="pages/podcast">Podcast</a></li>
		</ul>
		<div class="header" id="header">

		</div>