<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/banana.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.xml">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito&display=swap" rel="stylesheet">
    <title>Bananarama Fantasy Football - Podcast</title>
</head>
<body>
    <div id="load" class="flex justify-center items-center">
        <div>
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
    <div id="app" class="bg-gray-100 text-gray-700 font-light">
        <a class="fixed hidden w-full h-full z-10 mobile-menu-overlay" id="mobile-menu-overlay" v-on:click="toggleMobileMenu">
        </a>
        <header class="w-full header text-white fixed shadow-lg z-30" id="header">
            <img src="img/bananarama_transparent_logo.png" id="mobile-header-logo" class="lg:hidden w-12 fixed z-100"/>
            <img src="img/bananarama_transparent_logo_192.png" class="xl:w-48 lg:w-32 hidden lg:inline-block fixed z-100"/>
            <div class="h-full header-bg-overlay block px-4" id="header-bg-overlay">
                <div class="lg:text-6xl md:text-4xl text-2xl tracking-wider flex justify-center font-semibold items-center h-64" id="header-title"><span id="header-title-text" class="text-center pt-1"> Bananarama Fantasy Football</span></div>
                <div class="xl:hidden content-container justify-center lg:mx-auto uppercase tracking-wide font-normal text-xl">
                    <a class="md:hidden flex justify-end py-4" v-on:click="toggleMobileMenu" id="mobile-menu-link"><i class="fas fa-bars text-2xl"></i></a>
                    <span v-for="item in menu" class="hidden md:inline-block menu-link">
                        <a @click="toggleMobileMenu" :href="item.link" class="md:px-4 py-4 md:mr-4 hover:border-blue-700 border-b-4 border-transparent block text-right"><span :class="item.classList">{{ item.linkText }}<span></span></a>
                    </span>
                </div>
                <div class="xl:flex hidden content-container justify-center md:mx-auto tracking-wide font-normal text-xl">
                    <span v-for="item in menu" class="hidden md:inline-block menu-link">
                        <a :href="item.link" class="px-4 py-4 mr-4 hover:border-secondary border-b-4 border-transparent block text-right"><span :class="item.classList">{{ item.linkText }}<span></span></a>
                    </span>
                </div>
            </div>
        </header>
        <div class="pt-64">
            <section>
                <div id="podcast-section" class="py-24 content-container lg:mx-auto mx-2">
                    <p class="text-xl uppercase font-semibold text-gray-500 tracking-wide lg:-ml-4"><a href="#podcast-section" class="text-gray-700 hover:text-primary flex"><span class="w-4 text-gray-400">#</span> <span>Podcast</span></a></p>
                    <p class="mt-4">
                        {{ introText }}
                    </p>
                    <div class="podcast-list">
                        <div class="">
                            <div class="bg-white mt-4 px-8 py-6 border-l-4 border-primary shadow-lg">
                                <h3 class="text-primary">Dynasty</h3>
                                <div class="lg:flex">
                                    <div class="lg:w-2/3">
                                    <iframe src="https://www.podomatic.com/embed/html5/episode/9605362?style=normal&amp;autoplay=false" allowfullscreen="true" allow="autoplay; fullscreen" style="width: 100%; height: 208px;"></iframe></div>
                                    <div class="lg:pl-4 lg:w-1/3">
                                        <p>
                                                Ich hab ehrlich gesagt vergessen um was es ging und keinen Bock mehr mir das anzuhören. Daher, wünsch ich einfach viel Spaß mit der Episode
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white mt-4 px-8 py-6 border-l-4 border-secondary shadow-lg">
                                <h3 class="text-primary">Redraft</h3>
                                <div class="lg:flex">
                                    <div class="lg:w-2/3">
                                        <iframe src="https://www.podomatic.com/embed/html5/episode/9605360?style=normal&amp;autoplay=false" allowfullscreen="true" allow="autoplay; fullscreen" style="width: 100%; height: 208px;"></iframe>
                                    </div>
                                    <div class="lg:pl-4 lg:w-1/3">
                                            <p>
                                                Ich hab ehrlich gesagt vergessen um was es ging und keinen Bock mehr mir das anzuhören. Daher, wünsch ich einfach viel Spaß mit der Episode
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-200">
                    <div>
                        <div class="content-container mt-4 lg:px-4 py-24 lg:mx-auto mx-2">
                            <div class="flex md:flex-row justify-center items-center">
                                <div class="w-4/5 pr-8">
                                    <div class="flex items-center justify-start">
                                        <h6 class="text-12xl md:-mt-16 -mt-12 block leading-none text-gray-400">„</h6>
                                        <div class="md:px-4 md:-ml-12 -ml-8 italic">
                                            <h6>{{ reviews[0].text }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-1/5">
                                    <img :src="reviews[0].image" alt="" class="rounded-full lg:w-32 w-24 shadow-primary my-4">
                                </div>
                            </div>
                            <div class="text-xs text-gray-500 font-light mx-auto md:mt-0 md:w-4/5">
                                {{ reviews[0].name }}
                            </div>
                        </div>  
                    </div>
                </div>
            </section>  
        </div>       
        <footer class="bg-gray-800 text-gray-200 py-12">
            <div class="content-container lg:mx-auto mx-2">
                <div class="flex">
                    <div class="w-1/3">
                        <p class="uppercase text-gray-500 tracking-wide">
                            Unsere Ligen
                        </p>
                        <div class="mt-4 flex">
                            <span class="hover:text-secondary">
                                <a target="_blank" href="https://sleeper.app/leagues/464902912561115136">Dynasty</a>
                            </span>
                            <span class="mx-2">|</span>
                            <span class="hover:text-secondary">
                                <a target="_blank" href="https://fantasy.nfl.com/league/3074665">Redraft</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div>
 
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script  type="module" src="app.js" defer></script>
</body>
</html>


