.blog-post.preview {
	padding: 30px;
	background: var(--grey-light);
	box-shadow: var(--shadow-sm);
	border-radius: var(--rounded-md);
}

.blog-post.preview a {
	color: var(--primary-color);
}

.blog-post.preview .blog-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-post.preview .blog-content .excerpt {
	height: 100%;
}

.blog-post.preview .blog-content .bottom {
	color: var(--grey-medium);
	justify-content: space-between;
}

.blog-post.preview.image {
	display: flex;
}

.blog-post.preview .image .image {
	height: 260px;
	box-shadow: var(--shadow-sm);
}