.footer {
	color: var(--white);
	background-color: var(--grey-dark);
	align-items: center;
}

.footer h2 {
	text-transform: uppercase;
	color: var(--grey-medium)
}

.footer .container a {
	display: block;
	color: var(--white);
	font-family: var(--font-sans);
	padding: 0 20px 0 0;
}

.footer .container a:hover {
	font-family: var(--font-sans);
	color: var(--white);
}

.footer .socials {
	margin: 0;
	border-top: 1px solid var(--grey-medium);
	display: flex;
	justify-content: flex-end;
}

.footer .socials i {
	padding: 0 15px 0 0;
	color: var(--white);
}