html {
	scroll-behavior: smooth;
}
.padding-top-100 {
	padding-top: 100px;
}

.page-header {
	position: absolute;
	top: 80%;
	right: 15%;
}

.content-block.hero-text{
	padding-top: 0;
	margin: -190px 0 100px 0;
}

.hero-text .boxed {
	background: var(--white);
}