.slick-slider.review-slider {
    display: flex;
}

.review-slider .slick-arrow{
    background: var(--white);
    border: 0 solid var(--white);
}

.review-slider .slide {
    height: 920px;
    border: 1px solid var(--grey-medium);
    box-shadow: var(--shadow-sm);
    margin: 10px;
}

@media screen and (max-width: 1030px) {
    .review-slider .slick-arrow{
        display: none;
    }
    .review-slider .slide {
        height: 720px;
        margin: 0;
    }
}