:root {
    --primary-color: #2A4963;
    --secondary-color: #4997B5;
    --grey-light: #d8d8eb;
    --grey-medium: #9d9dac;
    --grey-dark: #151C27;
    --white: #fff;

    --shadow-sm: 0px 2px 2px 0px rgba(21,28,39,0.5);
    --shadow-md: 0px 6px 6px 0px rgba(21,28,39,0.5);
    --shadow-lg: 0px 10px 12px 0px rgba(21,28,39,0.5);
    --shadow-xl: 0px 20px 20px 0px rgba(21,28,39,0.5);

    --font-sans: 'Rubik', 'Arial', sans-serif;
    --font-serif: 'Crimson Text', serif;
    --font-size-base: 18px;

    --screen-xl: 1030px;
    --screen-md: 856px;
    --screen-sm: 736px;


    --rounded-sm: 5px;
    --rounded-md: 10px;
    --rounded-lg: 25px;
    --rounded-full: 100%;
}